@mixin media-wide {
    @media print, screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin none-appearance {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none transparent;
    background-clip: padding-box;
    color: inherit;
    font-size: inherit;
    vertical-align: middle;
    box-sizing: border-box;
    &::-ms-clear {
        display: none;
    }
    &::-ms-reveal {
        display: none;
    }
    &::-ms-expand {
        display: none;
    }
}

@mixin placeholder-color($color) {
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
}